<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <style>
        body{
            overflow: hidden;
        }
        h1, p {
            text-align:center;
        }
        h1{
            margin-bottom: 50px;
        }
        a{
           background-color: green;
           font-size: 24px;
           color: white;
           text-decoration: none;
           border: 1px solid black;
           border-radius: 10px;
           padding: 10px;
        }
    </style>
</head>
<body>
    <div>
        <h1>You have been subscribed for newsletter</h1>
        <p>
        <a href="https://google.com" target="_blank" >Visit back to site</a>
        </p>
    </div>
</body>
</html>