
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* global css start */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto, helvetica, sans-serif;
    vertical-align: baseline;

}

html{
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
    font-size: 10px;
}


body{
     background-color: white;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header .container, #newsletter .container, footer .container{
    display:flex;
    justify-content: space-between;
}

h1{
    font-size: 2.6rem;
}

h3 {
    text-align: center;
    padding: 20px 0;
    font-size: 2.4rem;
}

h4{
    padding: 15px 0;
    font-size: 2rem;
}

p{
    line-height: 1.5;
    text-align:justify;
    font-size: 1.6rem;
 }

 ul{
    list-style: none;
}

.background-color-blue{
    background-color:  #60B5E6;
}

#newsletter, #about, #services, #works, #clients{
    padding-bottom: 20px;
}

.row{
    width: 100%;
    display: flex;
    justify-content:space-between ;
    margin-bottom: 20px;

}

.card{
    flex-basis: 32%;
    padding: 10px;
}
.card img{
    width: 90%;
    height: 270px;
}


label, input, textarea{
     font-size: 1.6rem;
 }
input, textarea{
    width:300px;
    padding: 12px 20px;
}

i.fas{
    padding: 10px;
    color:#1575AD;
}

/* global css end */

/* css for Header tag and its children starts */
header{
    min-height: 70px;
    /* background-color: rgb(137, 222, 233); */
    background: linear-gradient(to right , #60B5E6, #1575AD);
    padding: 20px 0px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid white;
}

.top-nav li{
    margin-right: 10px;
    display: inline;
}

.top-nav  a{
    font-size: 2.4rem;
    text-decoration: none;
}

.top-nav a:hover, a.active{
    color: white;
    font-weight: 900;
}

.top-nav a:hover{
    cursor:pointer;
}

.top-nav .icon {
    display: none;
  }


/* css for home section and its children starts */

#home{
    position: relative;
    background-image: url('../img/ice.jpg');
    background-color: #CCCCCC;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 600px;
}

#home .container{
    position: absolute;
    top: 50%;
    left: 10%;

}
#home p {
    font-size: 3.2rem;
    text-align: center;
}

/* css for home section and its children ends */

/* css for newsletter section and its children starts */

#newsletter{
     padding-top: 40px;
}

input[type=submit]{
    width: 150px;
}

/* css for newsletter section and its children ends */

/* css for services section and its children starts */

#services .card p, #clients .card p{
    text-align: center;
}

/* css for works section and its children starts */

.box-text{
     width: 60%;
     /* flex-basis: 60%; */
     align-self: center;
}



.box-image{
    width: 35%;
    /* flex-basis: 35%; */
}


.box-image img{
    width:100%;
    height: 300px;
    object-fit:contain;
}

.layout-sm{
    display: none;
}

/* css for works section and its children ends */

/* css for clients section and its children starts */

.slick-slider{
    display:flex;
}

.slick-slider .item, .slick-slider .item. img{
    height: 200px;
    width: 200px;
}

/* css for clients section and its children ends */

/* css for contact section and its children starts */

#contact label{
    display: block;
}

#contact input, textarea {
    margin: 8px 0;
}

#contact .row{
    align-items: top;
    /* justify-content: center; */
}

#contact .card{
    flex-basis: 50%
}

#map {
    margin-top: 10px;
    height: 450px;
    /* The height is 400 pixels */
    width: 100%;
    border: 1px solid black;
    /* The width is the width of the web page */
}

/* css for contact section and its children ends */

/* css for footer starts */

footer{
    /* min-height: 70px; */
    background-color: #1575AD;
    border-top: 1px solid black;
    padding: 30px 0;
}

footer p, .social-media i.fab{
    margin: 10px;
}

footer a{
     text-decoration: none;
}

.social-media a {
    font-size: 2rem;
    padding: 10px;
}

i.fab{
    color:white;
}

/* css for footer ends */



iframe{
    border:none;
    width: 100%;
     height:600px
}

@media(max-width: 600px){

    /* css for global starts */
    #newsletter form input, #services .row,
    #works .row, #clients .row, #contact .row,
    footer .social-media, footer .container p {
        display: block;
        width: 100%;
        text-align: center;
    }

    #newsletter .container, footer .container{
        display: block;
    }
    .card{
        padding: 0;
    }

    .card img, .box-text,.box-image{
        width: 100%;
    }

    iframe{
        height: 300px;
    }
    /* css for global ends */


    /* css for home section and its children starts */
    #home{
        height: 200px;
    }

    #home p{
        font-size: 2rem;
    }

    .top-nav li {
        display: none;
    }

    .top-nav .icon {
        display: block;
        text-align: right;
    }

    .top-nav.responsive li {
        display: block;
        text-align: right;
    }

    .fas.fa-bars{
        padding: 0;
        color: white;
    }

    /* css for home section and its children ends */

    /* css for newsletter section and its children starts */

    #newsletter form input, #services img{
        margin-bottom: 10px;
    }
    /* css for newsletter section and its children ends */

    /* css for works section and its children starts */
    .layout-lg{
        display: none;
    }

    .layout-sm{
        display: block;
    }

    .layout-sm .box-text, h4, .layout-sm .box-image{
    margin-bottom: 10px;

    }
    /* css for works section and its children starts */


    /* css for contact section and its children starts */
    #contact input, #contact textarea{
        width: 100%;
    }

    #contact  label{
        text-align: left;
    }
    /* css for contact section and its children starts */


}

